### Questions
* how to debug with print statements

### Crap I USE
* VSCODE
* PYLINTER

### Objectives
YWBAT 
* design OOPs to optimize tasks

### Outline
* just get started with data

In [97]:
from importlib import reload

import numpy as np
import pandas as pd
import sqlite3

import myconn as mc

import matplotlib.pyplot as plt

reload(mc)

In [98]:
myconn = mc.MyConn(filename="data.sqlite")

In [99]:
cust = mc.Customers(filename='data.sqlite')

In [100]:
cust.get_table_description()

(('customerNumber', None, None, None, None, None, None),
 ('customerName', None, None, None, None, None, None),
 ('contactLastName', None, None, None, None, None, None),
 ('contactFirstName', None, None, None, None, None, None),
 ('phone', None, None, None, None, None, None),
 ('addressLine1', None, None, None, None, None, None),
 ('addressLine2', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None),
 ('postalCode', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('salesRepEmployeeNumber', None, None, None, None, None, None),
 ('creditLimit', None, None, None, None, None, None))

In [77]:
myconn.list_tables()

orderdetails
payments
offices
customers
orders
productlines
products
employees
contacts
contacts2

In [78]:
myconn.load_table_as_df('employees').head(2)

---no tablename in object, exception:---
'MyConn' object has no attribute 'table_name'

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales

In [79]:
cust.build_select_all_query()

'select * from customers'

In [80]:
myconn.build_select_all_query()

---no tablename in object, exception:---
'MyConn' object has no attribute 'table_name'

'select * from None'

In [81]:
conn = sqlite3.connect('data.sqlite')
cursor = conn.cursor()

In [82]:
cursor.execute('select * from employees')

In [84]:
cursor.description

(('employeeNumber', None, None, None, None, None, None),
 ('lastName', None, None, None, None, None, None),
 ('firstName', None, None, None, None, None, None),
 ('extension', None, None, None, None, None, None),
 ('email', None, None, None, None, None, None),
 ('officeCode', None, None, None, None, None, None),
 ('reportsTo', None, None, None, None, None, None),
 ('jobTitle', None, None, None, None, None, None))

In [102]:
emp = mc.Employees(filename='data.sqlite')

In [103]:
emp.get_table_description()

(('employeeNumber', None, None, None, None, None, None),
 ('lastName', None, None, None, None, None, None),
 ('firstName', None, None, None, None, None, None),
 ('extension', None, None, None, None, None, None),
 ('email', None, None, None, None, None, None),
 ('officeCode', None, None, None, None, None, None),
 ('reportsTo', None, None, None, None, None, None),
 ('jobTitle', None, None, None, None, None, None))

### Assessment/What did we learn?
* static methods
* see the workflow for oop
* try and except the baaaaassssttt
* write good docstrings